extends base

block vars
  - var title = "Wiadomosci"
  - var konfaId = konfaId;
  - var userId = userId.id.toString();

block body
  .container
    .vertical-center
      .jumbotron.col-sm-8
        .lewo #[a(href="/dashboard") < Powrót]
        .jumbotron.col-sm-12
          h3 #{user.firstName}'s User Data
          pre #{userString}
        form#send-form
            .field.has-addons
              p.control.is-expanded
                input(type='text', class='input', placeholder='Masz cos moze ten???', id='message')
                input(type='submit', class='button is-success', value='>>')
        script.
          const socket = io();
          const room = `!{konfaId}`;
          const publicKey = JSON.parse(`!{pKey}`);
          importPublicKey(publicKey).then((k) => {
            $('form').submit((e) => {
              let textMessage = $('#message').val();
              encrypt(textMessage, k).then((msg) => {
                let message = {};
                message.autorId = `!{userId}`;
                message.konwersacjaId = room;
                message.tresc = msg;

                socket.emit('nowa-wiadomosc', message, room);
              });
              $('.jumbotron').last().append($('<pre class="prawo">' +
                      '<img src=\'!{userId.photo}\' />').text(textMessage));
              $('#message').val('');
              return false;
            });
          })

          socket.emit('join-room', room);

          importPrivateKey(loadKey()).then((privateKey) => {
            let msgs = !{JSON.stringify(wiadomosciString)};
            for (msg of msgs){
              decrypt(new Uint8Array(msg.tresc.data), privateKey).then((decryptedMsg) => {
                if (msgs._id !== `!{userId}`)
                  $('.jumbotron').last().append($('<pre class="lewo">').text(buf2str(decryptedMsg)));
                else {
                  // jak odszyfrować własne wiadomości?
                }
              });
            }
            socket.on('nowa-wiadomosc', (message) => {
              if (message.autorId !== `!{userId}`) {
                decrypt(message.tresc, privateKey).then((msg) => {
                  $('.jumbotron').last().append($('<pre class="lewo">').text(buf2str(msg)));
                });
              }
            });
          });
